.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 3;

  justify-content: center;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  color: black;
  box-shadow: 4px 4px 4px #ccc;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  border-radius: 12px;
  cursor: text;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
}

.input:focus::placeholder {
  color: transparent;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.submit {
  padding: 7px 24px;
  outline: none;
  border: none;
  position: relative;
  background: #ffad31;
  min-width: 100px;
  min-height: 47px;
  border-radius: 12px;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  color: #ffffff;
}

.cancel {
  background: transparent;
  color: black;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.inputWrapper:not(:last-child) {
  margin-bottom: 16px;
}

.toggleButton {
  position: absolute;
  top: 50%;
  bottom: 5%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.submit:disabled {
  background: #ff9c1f;
  cursor: not-allowed;
}

.button-text {
  display: inline-block;
}

.spinner {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner.show {
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.modalTitle {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 600;
}
