.miniGames {
  background-color: white;
  background-image: url("../../../../../../public/bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  padding-top: 125px;
}

.miniGamesContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.miniGamesTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #000000;
  margin-bottom: 77px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  height: 250px;
  color: #000000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card img {
  max-width: 100%;
  height: auto;
}

/* Цвета */
.orange {
  background-color: #fdb94d;
}

.blue {
  background-color: #d8ecff;
}

.pink {
  background-color: #ffb9ec;
}

/* Уникальный стиль для основной игры */
.mainGame {
  background-color: #d8f0ff;
  height: 520px;
}

.playNow {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
